<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<header>
    <%- include('./partials/header.ejs'); %>
</header>
<body>
    <section class="bg-categorias flex-container-cart">

        <!-- Carrito para escritorio -->

        <div class="bg-carrito w-80" id="carritoDesk">
            <h2>Carrito</h2>
            <table>
                <tr>
                    <th class="w-60">Productos</th>
                    <th class="w-40 padding-amount">Cantidad</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td class="flex-container-cart-product">
                        <img src="public/images/106-laborum-cabernet-sauvignon.jpg" alt="" class="img-width">
                        <div class="flex-container-cart-text">
                            <h4>Laborum Cabernet Sauvignon</h4>
                            <p>Precio: $2200</p>
                        </div>
                    </td>
                    <td>
                        <div class="flex-container-cart-product">
                            <a href=""><button class="btn-body mx-3">-</button></a>
                            <p class="mx-3">1</p>
                            <a href=""><button class="btn-body mx-3">+</button></a>
                            <a href=""><button class="btn-body mx-3"><img src="public/images/iconos/ico-delete.svg" alt="" class="w-16"></button></a>
                        </div>
                    </td>
                    <td>$2200</td>
                </tr>
                <tr>
                    <td class="flex-container-cart-product">
                        <img src="public/images/106-laborum-cabernet-sauvignon.jpg" alt="" class="img-width">
                        <div class="flex-container-cart-text">
                            <h4>Laborum Cabernet Sauvignon</h4>
                            <p>Precio: $2200</p>
                        </div>
                    </td>
                    <td>
                        <div class="flex-container-cart-product">
                            <a href=""><button class="btn-body mx-3">-</button></a>
                            <p class="mx-3">1</p>
                            <a href=""><button class="btn-body mx-3">+</button></a>
                            <a href=""><button class="btn-body mx-3"><img src="public/images/iconos/ico-delete.svg" alt="" class="w-16"></button></a>
                        </div>
                    </td>
                    <td>$2200</td>
                </tr>
                <tr>
                    <td class="flex-container-cart-product">
                        <img src="public/images/106-laborum-cabernet-sauvignon.jpg" alt="" class="img-width">
                        <div class="flex-container-cart-text">
                            <h4>Laborum Cabernet Sauvignon</h4>
                            <p>Precio: $2200</p>
                        </div>
                    </td>
                    <td>
                        <div class="flex-container-cart-product">
                            <a href=""><button class="btn-body mx-3">-</button></a>
                            <p class="mx-3">1</p>
                            <a href=""><button class="btn-body mx-3">+</button></a>
                            <a href=""><button class="btn-body mx-3"><img src="public/images/iconos/ico-delete.svg" alt="" class="w-16"></button></a>
                        </div>
                    </td>
                    <td>$2200</td>
                </tr>
            </table>
        </div>

        <!-- Carriro para movil -->

        <div class="bg-carrito w-80" id="carritoMovil">
            <h2>Carrito</h2>
            <table>
                <tr>
                    <th>Productos</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td class="flex-container-cart-product">
                        <img src="public/images/106-laborum-cabernet-sauvignon.jpg" alt="" class="img-width">
                        <div class="flex-container-cart-text">
                            <h4>Laborum Cabernet Sauvignon</h4>
                            <div class="flex-container-cart-product">
                                <a href=""><button class="btn-body mx-3">-</button></a>
                                <p class="mx-3">1</p>
                                <a href=""><button class="btn-body mx-3">+</button></a>
                                <a href=""><button class="btn-body mx-3"><img src="public/images/iconos/ico-delete.svg" alt="" class="w-16"></button></a>
                            </div>
                        </div>
                    </td>
                    <td>$2200</td>
                </tr>
                <tr>
                    <td class="flex-container-cart-product">
                        <img src="public/images/106-laborum-cabernet-sauvignon.jpg" alt="" class="img-width">
                        <div class="flex-container-cart-text">
                            <h4>Laborum Cabernet Sauvignon</h4>
                            <div class="flex-container-cart-product">
                                <a href=""><button class="btn-body mx-3">-</button></a>
                                <p class="mx-3">1</p>
                                <a href=""><button class="btn-body mx-3">+</button></a>
                                <a href=""><button class="btn-body mx-3"><img src="public/images/iconos/ico-delete.svg" alt="" class="w-16"></button></a>
                            </div>
                        </div>
                    </td>
                    <td>$2200</td>
                </tr>
                <tr>
                    <td class="flex-container-cart-product">
                        <img src="public/images/106-laborum-cabernet-sauvignon.jpg" alt="" class="img-width">
                        <div class="flex-container-cart-text">
                            <h4>Laborum Cabernet Sauvignon</h4>
                            <div class="flex-container-cart-product">
                                <a href=""><button class="btn-body mx-3">-</button></a>
                                <p class="mx-3">1</p>
                                <a href=""><button class="btn-body mx-3">+</button></a>
                                <a href=""><button class="btn-body mx-3"><img src="public/images/iconos/ico-delete.svg" alt="" class="w-16"></button></a>
                            </div>
                        </div>
                    </td>
                    <td>$2200</td>
                </tr>
            </table>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <script src="/js/toggle-menu.js"></script>
    <script src="/js/carrito.js"></script>
</body>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>