<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<header>
    <%- include('./partials/header.ejs'); %>
</header>
<body>
    <section class="bg-categorias flex-container-cart">

        <div class="bg-carrito">
            <h2>Carrito</h2>
            <table>
                <thead>
                    <tr>
                        <th class="w-60">Productos</th>
                        <th class="w-40 padding-amount carrito-desk">Cantidad</th>
                        <th class="w-20">Subtotal</th>
                    </tr>
                </thead>
                <tbody class="DOMcarrito" id="carrito">
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
            <div class="flex-subtotal">
                <p class="text-right total">Total:<span id="total"></span></p>
                <button id="boton-vaciar" class="btn btn-body">VACIAR CARRITO</button>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <script src="/js/toggle-menu.js"></script>
    <script src="/js/cart.js"></script>
</body>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>