<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<header>
    <%- include('./partials/header'); %>
    </section>
</header>
<body>
    <section class="bg-form">
        <div>
            <h3 class="form-title shadow-1"><b>Contacte con Nosotros!</b></h3>
            <p class="form-desc shadow-1">Complete nuestro formulario y nos contactaremos a la mayor brevedad. Muchas gracias</p>
            <form action="" class="formulario-contacto">
                <div class="form-div">
                    <input type="text" name="" placeholder="Nombre y Apellido">
                    <input type="email" name="" placeholder="Email">
                    <input type="text" name=""placeholder="Teléfono">
                    <textarea name="" id="" placeholder="Su consulta"></textarea>
                    <button>Enviar</button>
                </div>
            </form>
        </div>
    </section>
    <script src="public/js/toggle-menu.js"></script>
</body>
<footer>
    <%- include('./partials/footer'); %>
</footer> 
</html>