<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicie sesión</title>
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/media_queries.css">
    
</head>
<body class="body-register-login">

    <button aria-label="Volver al Home" class="button-back shadow-1 w-48">
        <a href="/"><img src="../public/images/iconos/ico-previous.svg" alt="Volver al Home"></a>
    </button>

    <section class="main">
        <div class="box">
            <div class="box-back">

                <div class="box-back-login">
                    <h3>Ya tiene una cuenta?</h3>
                    <p>Inicia sesión para entrar en la página</p>
                    <button id="btn_login">Iniciar Sesión</button>
                </div>

                <div class="box-back-register">
                    <h3>Aun no tienes una cuenta?</h3>
                    <p>Regístrate para entrar en la página</p>
                    <button id="btn_register">Registrarse</button>
                </div>

            </div>

            <!-- Formularios -->
            <div class="box-login--register">

                <!-- Formulario de Login -->

                <form action="/login" id="formulario-login" class="formulario-login" method="post">
                    <h2>Iniciar Sesión</h2>
                    <input type="text" name="email_login" placeholder="Correo Electronico">
                    <input type="password" name="contrasena_login" placeholder="Contraseña">
                    <button>Entrar</button>
                </form>

                <!-- Formulario de Registro -->

                <form action="/register" id="formulario-register" class="formulario-register" method="post">
                    <h2>Registrarse</h2>
                    <input type="text" name="nombre_completo" placeholder="Nombre completo">
                    <input type="text" name="email" placeholder="Correo Electronico">
                    <input type="password" name="contrasena" placeholder="Contraseña">
                    <button type="submit">Registrarse</button>

                    <% if(typeof validaciones != 'undefined') { %>
                        <% validaciones.forEach( (validacion) => { %>
                        <div>
                            <p class="mt-1-5 text-error"><strong><%= validacion.msg %></strong></p>
                        </div>
                        <% }) %>
                    <% } %>
                </form>

            </div>
        </div>
    </section>
    <script src="public/js/login-register.js"></script>
</body>
</html>