<section class="bg-layout">
    <nav class="menu-superior">
        <div id="menu-superior-elements" class="menu-superior-elements">
            <div>
                <a href="/"><img src="/images/logo-wine-map.png" alt="Logo de Wine Map" class="img-layout-width"></a>
            </div>
            <div id="toggle-menu" class="toggle-menu">
                <img src="/images/iconos/ico-toggle.svg" alt="">
            </div>
        </div>
        <ul id="menu-superior-list" class="menu-superior-list">
            <li class="mx-3">
                <a href="/" class="navbar-element">Home</a>
            </li>
            <li class="mx-3">
                <a href="/products" class="navbar-element">Vinos</a>
            </li>
            <li class="mx-3">
                <a href="" class="navbar-element">Bodegas</a>
            </li>
            <li class="mx-3">
                <a href="https://www.winemapsalta.com.ar/" class="navbar-element">Blog</a>
            </li>
            <li class="mx-3">
                <a href="/contacto" class="navbar-element">Contacto</a>
            </li>
            <li class="mx-3">
                <a href="/carrito" class="navbar-icon-home"><img src="/images/iconos/ico-cart-shop.svg" alt="" class="w-24"></a>
                <a href="/authentication" class="navbar-icon-home"><img src="/images/iconos/ico-user.svg" alt="" class="w-24"></a>
            </li>
        </ul>
    </nav>
</section>